@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #646bec;
  --body-bg-color: #000000;
  --swiper-theme-color:#646bec !important;
}

body {
  background-color: var(--body-bg-color);
  font-family: "Inter", sans-serif;
}

.heroSection {
  background-image: url(./assets/Images/BGImages/heroSecBg.png);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}
.contectUs {
  background-image: url(./assets/Images/BGImages/contectUs.png);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}
.WhyChooseUsBg {
  background-image: url(./assets/Images/BGImages/wychooseUsBg.png);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}
.featureBgimg {
  background-position: center;
  background-size: 107% 112%;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
@media (min-width : 1010px ) {
  .featureBgimg{

    background-image: url(./assets/Images/featuresbgImg.png);
  }
}

.faqSecbg {
  border-radius: 23px;
  background: rgba(255, 255, 255, 0.14);
}


.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Customize margin as per your design */
}

.swiper-pagination-bullet {
  margin: 0 5px; /* Adjust bullet spacing as needed */
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
  bottom: 0px;
}